In [15]:
#gerekli kütüphaneler
import pandas as pd
import numpy as np

#veri okuma işlemi
df= pd.read_csv("../imdb.csv")
#gösterilecek max satır
pd.set_option('display.max_rows', 10)

In [16]:
df.info()
#bilgiyi incelediğimizde sadece runtime sütununda NaN değer olduğunu görmekteyiz

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie_Title  850 non-null    object
 1   YR_Released  850 non-null    int64
 2   Rating       850 non-null    float64
 3   Num_Reviews  850 non-null    int64
 4   Movie_ID     850 non-null    object
 5   Record       850 non-null    object
 6   Runtime      849 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 46.6+ KB

In [17]:
#Yapı yılına göre sınıflandırma işlemi: 1921-2017 arasını 5 parça halinde sınıflandıracağız
def siniflandirma(year):
    if year>=1921 and year<1941:
        return 1
    elif year>=1941 and year<1961:
        return 2
    elif year>=1961 and year<1981:
        return 3
    elif year>=1981 and year<2001:
        return 4
    elif year>=2001 and year<2017:
        return 5
    else:
        return None
df["YR_Released"]=df["YR_Released"].apply(siniflandirma)

In [18]:
df.groupby("YR_Released").count()
#basit bir sınıflandırma örneği

             Movie_Title  Rating  Num_Reviews  Movie_ID  Record  Runtime
YR_Released
1.0                   32      32           32        32      32       32
2.0                   90      90           90        90      90       90
3.0                  112     112          112       112     112      112
4.0                  211     211          211       211     211      211
5.0                  393     393          393       393     393      392

In [19]:
# Bir Değerin istenilen koşulu sağlayı sağlamamasına göre True False döndürme
df["Rating"]=df["Rating"]>8.2

In [20]:
def numaralandirma(string):
    if string=="True":
        return 1
    else:
        return 0
# Bu durum bize istinilen durumda 1 olup olmadığını verecek ve biz bu veriyi grafik üzerinde istediğimiz düzende göreceğiz
df["Rating"]=df["Rating"].apply(numaralandirma)

In [21]:
#string ifadeler için ise Şöyle bir uygulama yapabiliriz
df["Movie_Title"]=df["Movie_Title"].str.find("Pirates of the Caribbean")!=-1

In [26]:
#Sonucu 0-1 olarak değelendirmesini sağlaması
df["Movie_Title"]=df["Movie_Title"].apply(numaralandirma)

In [27]:
df.head()

,Movie_Title,YR_Released,Rating,Num_Reviews,Movie_ID,Record,Runtime
0,0,5.0,0,24623,tt4458206,Bottom 250 Movies,114.0
1,0,5.0,0,12765,tt4009460,Bottom 250 Movies,80.0
2,0,5.0,0,26505,tt0270846,Bottom 250 Movies,88.0
3,0,5.0,0,13295,tt0421051,Bottom 250 Movies,81.0
4,0,3.0,0,31808,tt0060666,Bottom 250 Movies,70.0